/* Drop down button */
nav {
    overflow: hidden;
    background-color: rgb(33, 75, 40);
    text-align: center;
}

nav a {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 28px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    text-align: center;
    margin: 0;
}

nav a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(113, 161, 120);
    width: 100%;
    transition: 1s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(81, 127, 89);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
}

.dropdown-contentcontent a:hover {
    background-color: rgb(81, 127, 89);
}

.dropdown:hover .dropdown-content {
    display: block;
}



/*Other*/
body {
    padding: 0;
    margin: 0;
    border: 0;
    background: rgba(147, 202, 155);
}

main {
    padding: 1%;
    margin: 0%;
    border-left: 5vw solid rgba(147, 202, 155);
    border-right: 5vw solid rgba(147, 202, 155);
}

h1 {
    color: rgb(33, 75, 40);
    font-size: 4vw;
    font-weight: bold;
    background-color: rgba(147, 202, 155, 0.677);
    display: inline-block;
    /* Make the background color apply only to the area surrounding the text */
    padding: 2px;
    /* Add some padding to create space between the text and the background color */
    width: fit-content;
    /* Make the element shrink-to-fit the content inside it */
    margin: 0 auto;
    border-radius: 10px;
}

h2 {
    font-size: xx-large;
    text-align: center;
}

h3 {
    text-indent: 30px;
}

p {
    text-align: justify;
    text-indent: 30px;
    font-size: larger;
}

iframe {
    border: 15px solid rgb(33, 75, 40);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.601);
}

a {
    font-style: italic;
}

.link {
    color: rgb(24, 183, 51);
}

figcaption {
    color: rgb(87, 91, 88);
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.601);
}

footer {
    border-left: 5vw solid rgba(147, 202, 155);
    border-right: 5vw solid rgba(147, 202, 155);
    color: rgb(87, 91, 88);
}

.box2 {
    background-color: rgba(33, 75, 40, 0.608);
    color: white;
    padding: 20px;
    border-bottom: 15px solid rgb(33, 75, 40);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.601);
}

header {
    background-image: url("dublin_background.png");
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    background-size: cover;
    /* Scale the background image to cover the entire element */
    background-position: center center;
    /* Center the background image */
}

.background {
    border: 0.11vw solid rgba(147, 202, 155);
    padding: 14.63vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section,
.box3 {
    background-color: rgb(33, 75, 40);
    color: white;
    padding: 0.5vw;
    font-size: larger;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.601);
}

.box4 {
    color: white;
    padding: 1vw;
    width: 90%;
    font-size: larger;
}

.box5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(33, 75, 40);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.601);
}

.space {
    background-color: rgba(147, 202, 155);
    padding: 1vw;
}

.title {
    text-align: center;
    font-size: larger;
}



/*For video*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 80%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*For iframe*/
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.601);
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*For columns, St_Stephens html (at the beginning)*/
.green1 {
    width: 33%;
    background-color: rgb(33, 75, 40);
    color: white;
}

.green2 {
    width: 33%;
    background-color: rgb(33, 75, 40);
    color: white;
}

.green3 {
    width: 33%;
    background-color: rgb(33, 75, 40);
    color: white;
}

[class*="green"] {
    padding: 15px;
    border: 3px solid rgb(33, 75, 40);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.601);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}



/*Other for the St_Stephens html*/
#Dublin {
    color: rgb(33, 75, 40);
}

.using_before:before {
    content: "For more information visit their website:";
    font-size: large;
}

.container-for-map {
    background-color: rgb(33, 75, 40);
    width: 70%;
    padding: 2vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.601);
}

.container-for-map p {
    margin: 0 auto;
}

.container-for-map img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}



/*For columns, Dublin html (at the beginning and end)*/
.column,
.column2 {
    width: 23%;
    background-color: rgb(33, 75, 40);
    color: white;
    padding: 15px;
    border: 3px solid rgb(33, 75, 40);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.601);
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*For photo gallery, St_Stephens html*/
.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.box figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
}



/*For photo gallery, Dublin html*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;
    padding: 0;
    margin: 0;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gallery img {
    max-width: 100%;
    height: auto;
}



/*Responsive for 768px and 480px*/
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .box {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    main {
        padding: 1%;
        margin: 0%;
        border-left: 2vw solid rgba(147, 202, 155);
        border-right: 2vw solid rgba(147, 202, 155);
    }

    .row {
        flex-direction: column;
    }

    .column,
    .column2 {
        width: 100%;
    }

    [class*="green"] {
        width: 100%;
    }

    .box4 {
        color: white;
        width: 100%;
        font-size: larger;
    }

    .box5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(33, 75, 40);
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .box {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    main {
        padding: 0%;
        margin: 0%;
        border-left: 1vw solid rgba(147, 202, 155);
        border-right: 1vw solid rgba(147, 202, 155);
    }

    .column,
    .column2 {
        width: 100%;
    }

    .box4 {
        color: white;
        width: 100%;
        font-size: larger;
    }

    .box5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(33, 75, 40);
    }

}



/*Animated clover,Dublin html*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

.container img {
    box-shadow: none !important;
}

.animated-photo {
    width: 200px;
    height: 200px;
    transition: transform 0.5s ease-in-out;
}

.animated-photo:hover {
    transform: rotate(360deg);
}



/*Animated footer*/
.animation {
    position: relative;
    width: 250px;
    height: 75px;
    border-radius: 10%;
    background-color: rgb(36, 161, 55);
    animation: pulse 5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation:before,
.animation:after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border-radius: 10%;
    border: 3px solid rgb(36, 161, 55);
    animation: pulse 5s infinite;
}

.animation span {
    position: absolute;
    color: rgb(25, 60, 16);
    font-weight: bold;
    transform: translate(-50%, -50%);
    /*moves the text 50px to the left and 50px up*/
    top: 50%;
    /*Align the text in the middle*/
    left: 50%;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}